* {
    box-sizing: border-box;
}

html {
    background: url('bg4.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    margin: 0;
    padding: 0;
}

#container {
    width: 100%;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

@media screen and ( max-height: 900px) {
    #container {
        margin-top: 30px;
    }
  }

#wrapper {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

#headwrap {
    width: 100%;
    padding: 0px 40px 0px 40px ;

}

#header {
    font-family: 'Stardos Stencil';
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    font-size: 1.5em;
    border: 1px solid rgb(255, 255, 255);
    padding: 0px 40px 0px 40px ;
    margin-bottom: 20px;
}

@media screen and ( max-width: 320px) {
    #header {
        font-size: 1em;
    }
  }

#bottomdiv {
    margin-top: 20px;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 40px 0px 40px ;
    width: 100%;
    font-size: 1.5em;
}

@media screen and ( max-height: 900px) {
    #bottomdiv {
        margin-bottom: 30px;
        margin-top: 15px;
    }
  }

#check, #check2, #check3, #check4, #check5, #check6{
    float: right;
    margin-top: 10px;
}

.field {
    padding: 0px 40px 20px 40px ;
    width: 100%;
}

.btn {
    width: 100%;
    height: 50px;
    border: none;
    background-color: darkred;
    -moz-box-shadow:    1px 2px 2px 0px  rgb(38, 25, 49);
    -webkit-box-shadow: 1px 2px 2px 0px  rgb(38, 25, 49);
    box-shadow:         1px 1px 18px 3px rgb(21, 11, 29);
    cursor: pointer;
    border-radius: 10px;
    background-image: linear-gradient(to bottom,rgb(190, 0, 0), #3b0000 60%);
}

@media screen and ( max-height: 900px) {
    .btn {
        height: 35px;
    }
  }

#submit {
    font-family: 'Stardos Stencil';
    font-size: 1.5em;
    color: rgb(255, 104, 104);
    text-shadow: 2px 1px 2px #000000;
    letter-spacing: 5px;
}

#submit:hover {
    color: rgb(255, 238, 0);
}

@media screen and (max-height: 900px) {
    #submit {
    font-size: 1.2em;
   }
}

label {
    font-family:'Arial';
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-shadow: 1px 1px 3px #0a0016;
}

#country {
    width: 100%;
    height: 35px;
    border: none;
    outline: none;
    -moz-box-shadow:    1px 2px 2px 0px rgb(48, 21, 88);
    -webkit-box-shadow: 1px 2px 2px 0px rgb(48, 21, 88);
    box-shadow:         1px 1px 18px 3px rgb(48, 21, 88);
}

@media screen and ( max-height: 900px) {
    #country  {
        height: 30px;
    }
  }

input[type=text] {
    color: #570000;
    font-size: 1rem;
    font-family:'arial';
}

.input{
    padding-left: 10px;
    width: 100%;
    height: 35px;
    border: none;
    outline: none;
    -moz-box-shadow:    1px 2px 2px 0px rgb(48, 21, 88);
    -webkit-box-shadow: 1px 2px 2px 0px rgb(48, 21, 88);
    box-shadow:         1px 1px 18px 3px rgb(24, 10, 46);
    border-radius: 5px;
    margin-top: 10px;
    background-color: white;
}

@media screen and ( max-height: 900px) {
    .input {
        height: 30px;
    }
  }


.error {
    margin-top: 5px;
    color: red;
    height: 0px;
    text-shadow: 1px 1px 1px #0d001b;
}

#cross {
    position: absolute;
    margin-left: 5px;
    margin-top: 5px;
    text-shadow: 1px 2px 1px #130029;
}

@media screen and ( max-height: 900px) {
    #cross  {
        margin-top: 3px;
    }
  }

#green {
    position: absolute;
    margin-left: 5px;
    margin-top: 7px;
    text-shadow: 1px 2px 1px #130029;
}

@media screen and ( max-height: 900px) {
    #green  {
        margin-top: 4px;
    }
  }

.fa-eye-slash {
    position: absolute;
    color: rgb(255, 255, 255);
    margin-left: 10px;
    cursor: pointer;
    margin-top: 18px;
    text-shadow: 1px 2px 1px #130029;
}

.fa-eye {
    position: absolute;
    color: rgb(255, 255, 255);
    margin-left: 10px;
    cursor: pointer;
    margin-top: 18px;
    text-shadow: 1px 2px 1px #130029;
}

.fa-check {
    position: absolute;
    margin: 4px;
    color: green;
    display: inline;
}

.fa-times-circle {
    position: absolute;
    margin: 5px;
    color: rgb(167, 0, 0);
}

/* Change autofill styles*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: rgb(48, 21, 88);
  -moz-box-shadow:    1px 2px 2px 0px  rgb(38, 25, 49);
  -webkit-box-shadow: 1px 2px 2px 0px  rgb(38, 25, 49);
  box-shadow:         1px 1px 2px 0px rgb(31, 8, 53);
  transition: background-color 5000s ease-in-out 0s;
}

/* The modal popup*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content/Box */
  .modal-content {
    text-align: center;
    position: absolute;
    background-color: #fefefe;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgb(158, 103, 230);
    width: 50%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
    padding: 20px 10px 20px 10px;
  }

  .modal-content .text {
    color: rgb(103, 59, 175);
    font-size: 1.5em;
  }

  @media screen and ( max-width: 700px) {
    .modal-content .text {
        font-size: 1em;
    }
  }

  @media screen and ( max-width: 700px) {
    .modal-content {
        width: 80%;
    }
  }


/* The Close Button */
  .close {
    color: rgb(77, 30, 151);
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    font-size:1.5em;
    font-weight: bold;
    background-color: white;
    border-radius: 15px;
    border: 3px solid rgb(158, 103, 230); 
    
  }

  .close:hover,
  .close:focus {
    color: rgb(182, 0, 0);
    text-decoration: none;
    cursor: pointer;
  }